<!-- Page Heading -->
<h1 class="h3 mb-2 text-gray-800">Products</h1>


<!-- DataTales Example -->
<div class="card shadow mb-4">
    <div class="card-header py-3">
        <h6 class="m-0 font-weight-bold text-primary">DataTables Example</h6>
    </div>
    <div class="card-body">
        <div class="table-responsive">
            <table class="table table-bordered">
                <thead>
                  <tr>
                    <th scope="col">#</th>
                    <th scope="col">Title</th>
                    <th scope="col">Description</th>
                    <th scope="col">Price</th>
                    <th scope="col">Category</th>
                    <th scope="col" style="width: 170px;">Action</th>
                  </tr>
                </thead>
                <tbody>
                  <tr *ngFor="let product of products">
                    <th scope="row">{{product.product_id}}</th>
                    <td>{{product.title}}</td>
                    <td>{{product.description}}</td>
                    <td>{{product.price}}</td>
                    <td>{{product.category}}</td>
                    <td>
                      <button type="button" class="btn btn-link">Edit</button>
                      <button type="button" class="btn btn-link">Delete</button>
                    </td>
                  </tr>
                  
                </tbody>
              </table>

              <app-pagination (changePage)="changePage($event)"></app-pagination>

        </div>
    </div>
</div>