<!-- Page Heading -->
<h1 class="h3 mb-2 text-gray-800">Categories</h1>


<!-- DataTales Example -->
<div class="card shadow mb-4">
    <div class="card-header py-3">
      <!-- <h6 class="m-0 font-weight-bold text-primary">DataTables Example</h6> -->
    
      <form class="form-inline mr-auto navbar-search" style="float: left;">
        <div class="input-group">
          <input type="text" class="form-control border-1 small" placeholder="Search Title" aria-label="Search"
            aria-describedby="basic-addon2">
          <div class="input-group-append">
            <button class="btn btn-primary" type="button">
              <i class="fas fa-search fa-sm"></i>
            </button>
          </div>
        </div>
      </form>

      <button (click)="addCategory()" style="float: right;" class="btn btn-primary">Add Category</button>
    </div>
    <div class="card-body">
        <div class="table-responsive">
            <table class="table table-bordered">
                <thead>
                  <tr>
                    <th scope="col">#</th>
                    <th scope="col">Category</th>
                    <th scope="col" style="width: 170px;">Action</th>
                  </tr>
                </thead>
                <tbody>
                  <tr *ngFor="let cat of categories">
                    <th scope="row">{{cat.category_id}}</th>
                    <td>{{cat.name}}</td>
                    <td>
                      <button (click)="deleteCategory(cat)" type="button" class="btn btn-link">Delete</button>
                    </td>
                  </tr>
                  
                </tbody>
              </table>


        </div>
    </div>
</div>