<!-- Page Heading -->
<h1 class="h3 mb-2 text-gray-800">Categories</h1>


<!-- DataTales Example -->
<div class="card shadow mb-4">
    <div class="card-header py-3">
      <button (click)="addCategory()" style="float: right;" class="btn btn-primary">Add Category</button>
    </div>
    <div class="card-body">
        <div class="table-responsive">
            <table class="table table-bordered">
                <thead>
                  <tr>
                    <th scope="col">#</th>
                    <th scope="col">Category</th>
                    <th scope="col" style="width: 170px;">Action</th>
                  </tr>
                </thead>
                <tbody>
                  <tr *ngFor="let cat of categories">
                    <th scope="row">{{cat.category_id}}</th>
                    <td>{{cat.name}}</td>
                    <td>
                      <button (click)="deleteCategory(cat)" type="button" class="btn btn-link">Delete</button>
                    </td>
                  </tr>
                  
                </tbody>
              </table>
        </div>
    </div>
</div>