<!-- Page Heading -->
<h1 class="h3 mb-2 text-gray-800">Orders</h1>


<!-- DataTales Example -->
<div class="card shadow mb-4">
  <div class="card-header py-3">
    <!-- <h6 class="m-0 font-weight-bold text-primary">DataTables Example</h6> -->

    <div class="form-inline mr-auto navbar-search" style="float: left;">
      <div class="input-group">
        <input [(ngModel)]="customerName" type="text" class="form-control border-1 small"
          placeholder="Search Customer Name" aria-label="Search" aria-describedby="basic-addon2">
        <div class="input-group-append">
          <button (click)="search()" class="btn btn-primary" type="button">
            <i class="fas fa-search fa-sm"></i>
          </button>
        </div>
      </div>
    </div>

  </div>
  <div class="card-body">
    <div class="table-responsive">
      <table class="table table-bordered">
        <thead>
          <tr>
            <th scope="col">Order #</th>
            <th scope="col">Customer</th>
            <th scope="col" style="width: 150px;">Date Time</th>
            <th scope="col">Products</th>
            <th scope="col">Price</th>
            <th scope="col">Address</th>
            <th scope="col">Status</th>
            <th scope="col" style="width: 100px;">Action</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let order of orders">
            <th scope="row">{{order.order_id}}</th>
            <td>{{order.user_name}}</td>
            <td>{{order.created_at | date:'MMM d, y, h:mm a'}}</td>
            <td>
              <ul>
                <li *ngFor="let p of order.products">
                  <p style="margin: 0;">{{p.name}}<b>X</b>{{p.qty}}</p>
                </li>
              </ul>
            </td>
            <td>${{order.total}}</td>
            <td>{{order.address}}</td>
            <td>
              <ion-chip *ngIf="order.status=='Pending'" color="warning">Pending</ion-chip>
              <ion-chip *ngIf="order.status=='Delivered'" color="success">Delivered</ion-chip>
              <ion-chip *ngIf="order.status=='Delivering'" color="tertiary">Delivering</ion-chip>
            </td>
            <td>
              <button (click)="viewOrder(order)" type="button" class="btn btn-link">View</button>
            </td>
          </tr>

        </tbody>
      </table>

      <app-pagination (changePage)="changePage($event)"></app-pagination>

    </div>
  </div>
</div>